/* General */
* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  display: flex;
  flex-direction: column;
  font-family: 'Playfair Display', serif;
  background-color: #fdf2f2; }

.wrapper {
  -webkit-box-shadow: 3px 9px 19px -7px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 9px 19px -7px rgba(0, 0, 0, 0.62);
  box-shadow: 3px 9px 19px -7px rgba(0, 0, 0, 0.62);
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto; }

/* Header */
.header {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  background-color: #fdf2f2; }
  .header .logo {
    width: 60px;
    height: 60px;
    background: #cfe2f3;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    position: absolute;
    top: 20px;
    left: 20px; }
  .header .wraplogo {
    height: 120px;
    min-width: 15%; }
  .header .logo:before,
  .header .logo::after {
    position: absolute; }
  .header .logo:before {
    width: 60px;
    height: 60px;
    background: #cfe2f3;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    content: "";
    top: 0;
    left: 0; }
  .header .logo::after {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    content: 'logo';
    top: 40%;
    left: 30%; }
  .header .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    animation-name: example;
    animation-duration: 8s; }
  .header h1 {
    font-size: 3.8rem; }

/* Main */
.main {
  display: flex;
  flex-direction: row;
  border: 1px solid gray; }
  .main .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    background-color: #cfe2f3; }
  .main .copyright {
    padding-bottom: 10px;
    font-size: 1rem;
    text-align: center;
    color: grey; }
  .main .menu {
    list-style-type: none; }
    .main .menu li {
      background-color: #cfe2f3;
      border-bottom: 1px solid gray;
      border-right: 1px solid gray;
      transition: 2s all; }
    .main .menu li a {
      padding: 10px;
      padding-left: 15px;
      display: block;
      font-size: 2rem;
      text-decoration: none;
      color: black; }
    .main .menu li:hover {
      background-color: #d9d2e9;
      border-right: none;
      transition: 2s all; }
  .main .right {
    position: relative;
    padding: 4%;
    width: 75%;
    min-height: 70vh;
    background-color: #d9d2e9; }
    .main .right p {
      margin-bottom: 10px;
      font-size: 1rem;
      line-height: 1.3;
      text-indent: 2%;
      color: darkblue;
      transition: 2s all; }

@-webkit-keyframes example {
  0% {
    color: black; }
  50% {
    color: blue; }
  100% {
    color: black; } }
@keyframes example {
  0% {
    color: black; }
  50% {
    color: blue; }
  100% {
    color: black; } }
.square {
  position: absolute;
  right: -20px;
  top: -20px;
  z-index: 10;
  width: 50px;
  height: 50px;
  background: #cfe2f3;
  border: 10px outset #f6f4fa;
  opacity: .8;
  transition: 1s all; }

.square:hover {
  background: #ef9a9a;
  opacity: .5;
  transition: 1s all;
  transform: rotate(360deg); }

.show {
  display: block;
  transition: 2s all; }

.hidden {
  display: none;
  transition: 1s all; }

/* Adaptive */
@media only screen and (min-width: 900px) and (max-width: 1070px) {
  html {
    font-size: 14px; }

  .wrapper {
    width: 94%; }

  /* Header */
  .header .wraplogo {
    height: 110px; }
  .header h1 {
    font-size: 3.8rem; }

  /* Main */
  .main .copyright {
    font-size: 1.2rem; }
  .main .right {
    padding: 3%; }
    .main .right p {
      margin-bottom: 2%; } }
@media only screen and (max-width: 899px) {
  html {
    font-size: 14px; }

  .wrapper {
    width: 94%; }

  /* Header */
  .header .wraplogo {
    height: 100px; }
  .header h1 {
    font-size: 3.4rem; }
  .header .square {
    width: 45px;
    height: 45px; }

  /* Main */
  .main .copyright {
    font-size: 1.2rem; }
  .main .right {
    padding: 2%; }
    .main .right p {
      margin-bottom: 1%; }

  .square {
    width: 40px;
    height: 40px; }

  .square:hover {
    transform: rotate(180deg); } }
@media only screen and (max-width: 768px) {
  html {
    font-size: 14px; }

  .wrapper {
    width: 93%; }

  /* Header */
  .header .wraplogo {
    height: 95px;
    width: 18%; }
  .header .heading {
    width: 82%; }
  .header h1 {
    font-size: 2.6rem; } }
@media only screen and (max-width: 599px) {
  html {
    font-size: 13px; }

  .wrapper {
    width: 90%; }

  /* Header */
  .header .wraplogo {
    height: 90px;
    width: 22%; }
  .header .logo {
    top: 10px;
    left: 10px; }
  .header .heading {
    width: 78%; }
  .header h1 {
    font-size: 1.9rem; }

  .main .menu li a {
    font-size: 1.6rem; } }
@media only screen and (max-width: 420px) {
  html {
    font-size: 12px; }

  .wrapper {
    width: 90%; }

  /* Header */
  .header .wraplogo {
    height: 80px;
    width: 35%; }
  .header .heading {
    width: 65%; }
  .header h1 {
    font-size: 2rem; }

  /* Main */
  .main .left {
    width: 20%; }
  .main .copyright {
    font-size: 1rem; }
  .main .menu li a {
    padding: 10px 5px;
    font-size: 1.2rem; }
  .main .right {
    padding: 3%;
    width: 80%; }
    .main .right p {
      margin-bottom: 3%;
      font-size: 1rem;
      line-height: 1.2;
      color: navy; }

  .square {
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    border: 4px outset #f6f4fa; }

  .square:hover {
    background: #ef9a9a;
    opacity: .5;
    transition: 1s all;
    transform: rotate(90deg); } }

/*# sourceMappingURL=styles.css.map */
